<h1>Tic Tac Toe</h1>

<!-- default messaging -->
<p id="message"></p>

<!-- SIGN IN FORM -->
<form class="bg-white  rounded-5 shadow-5-strong p-5" id="sign-in">
  <h3>Sign In</h3>
  <div class="form-outline mb-4">
    <label class="form-label">Email</label>
    <input class="form-control" name="credentials[email]" type="email">
  </div>
  <div class="form-outline mb-4">

    <label class="form-label">Password</label>
    <input class="form-control" name="credentials[password]" type="password">
  </div>
  <button type="submit" class="btn btn-dark">Sign In</button>
</form>
